[submodule "memory"]
	path = memory
	url = git@github.com:lobs-ai/lobs-memory.git
[submodule "nexus"]
	path = nexus
	url = git@github.com:lobs-ai/lobs-nexus.git
[submodule "meeting-transcriber"]
	path = meeting-transcriber
	url = git@github.com:lobs-ai/lobs-meeting-transcriber.git
